# Ignore everything...
*
!.gitignore
# ... except sublime preferences
!Preferences.sublime-settings
# package info
!Package Control.sublime-settings
# keymaps
!*.sublime-keymap

#2Dark snippets and syntax
!*2dark*
!bh_core.sublime-settings

#jai settings
!jai.*

#macros and scripts
!*.py
